wpf-client/practicum_5/Connected Services/CustomerServiceReference/prak5_service_lib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/prak5_service_lib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/prak5_service_lib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="customerSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="balance" type="xs:double" />
      <xs:element minOccurs="0" name="orderSets" nillable="true" type="tns:ArrayOforderSet" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customerSet" nillable="true" type="tns:customerSet" />
  <xs:complexType name="ArrayOforderSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="orderSet" nillable="true" type="tns:orderSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforderSet" nillable="true" type="tns:ArrayOforderSet" />
  <xs:complexType name="orderSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="customerSet" nillable="true" type="tns:customerSet" />
      <xs:element minOccurs="0" name="customer_Id" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="orderLineSets" nillable="true" type="tns:ArrayOforderLineSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="orderSet" nillable="true" type="tns:orderSet" />
  <xs:complexType name="ArrayOforderLineSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="orderLineSet" nillable="true" type="tns:orderLineSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforderLineSet" nillable="true" type="tns:ArrayOforderLineSet" />
  <xs:complexType name="orderLineSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="orderSet" nillable="true" type="tns:orderSet" />
      <xs:element minOccurs="0" name="order_Id" type="xs:int" />
      <xs:element minOccurs="0" name="productSet" nillable="true" type="tns:productSet" />
      <xs:element minOccurs="0" name="product_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="orderLineSet" nillable="true" type="tns:orderLineSet" />
  <xs:complexType name="productSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderLineSets" nillable="true" type="tns:ArrayOforderLineSet" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="storeSet" nillable="true" type="tns:storeSet" />
      <xs:element minOccurs="0" name="store_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="productSet" nillable="true" type="tns:productSet" />
  <xs:complexType name="storeSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSets" nillable="true" type="tns:ArrayOfproductSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="storeSet" nillable="true" type="tns:storeSet" />
  <xs:complexType name="ArrayOfproductSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productSet" nillable="true" type="tns:productSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfproductSet" nillable="true" type="tns:ArrayOfproductSet" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>