wpf-client/practicum_5/Connected Services/CustomerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/prak5_service_lib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_RegisterCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_RegisterCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_LoginCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_LoginCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Authorise_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorise" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Authorise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthoriseResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/RegisterCustomer" message="tns:ICustomerService_RegisterCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/RegisterCustomerResponse" message="tns:ICustomerService_RegisterCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/LoginCustomer" message="tns:ICustomerService_LoginCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/LoginCustomerResponse" message="tns:ICustomerService_LoginCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/Find" message="tns:ICustomerService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/FindResponse" message="tns:ICustomerService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorise">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/Authorise" message="tns:ICustomerService_Authorise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/AuthoriseResponse" message="tns:ICustomerService_Authorise_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/RegisterCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/LoginCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorise">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Authorise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/prak5_service_lib/CustomerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>