wpf-client/practicum_5/Connected Services/OrderServiceReference/prak5_service_lib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/prak5_service_lib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/prak5_service_lib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBuyingProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuyingProduct" nillable="true" type="tns:BuyingProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuyingProduct" nillable="true" type="tns:ArrayOfBuyingProduct" />
  <xs:complexType name="BuyingProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuyingProduct" nillable="true" type="tns:BuyingProduct" />
</xs:schema>