wpf-client/practicum_5/Connected Services/OrderServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/prak5_service_lib" />
  <xs:element name="Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="storeId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/prak5_service_lib" minOccurs="0" name="products" nillable="true" type="q1:ArrayOfBoughtProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>